/* @font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

html {
  @apply antialiased;
}

.balance {
  text-wrap: balance;
}

.prose img {
  margin-inline: auto;
  outline-offset: 12px;
  @apply outline-neutral-200 outline-2 rounded-md;
  outline-style: dashed;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.041);
}

/* Nice simplified chrome scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-300;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-500;
}

.flat-shadow {
  box-shadow: 2px 2px var(--tw-shadow-color);
  @apply shadow-foreground;
}

[data-tag="library"] {
  @apply text-green-600;
}

[data-tag="software"] {
  @apply text-blue-600;
}

[data-tag="side-project"] {
  @apply text-yellow-600;
}

[data-tag="ai"] {
  @apply text-red-600;
}
